<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/table.css">
  <link rel="stylesheet" href="./css/list.css">
</head>

<body>
  <!-- header -->
  <div class="header">
    <h1><a href="index.html">출석체크</a></h1>
    <div class="header-click">
      <a href="chat.html">채팅</a>
      <a href="login.html">로그인</a>
      <a href="join.html">회원가입</a>
      <button type="button">로그아웃</button>
    </div>
  </div>
  <!-- // header -->

  <div class="main">
    <h2 class="main-title">게시판</h2>

    <div class="board-top">
      <p class="main-desc"><strong>2개</strong>의 게시글이 있습니다.</p>

      <div>
        <label for="category" class="a11y-hidden">카테고리</label>
        <select id="category">
          <option>전체</option>
          <option>공지사항</option>
          <option>일반</option>
        </select>
        <form class="search-form">
          <label for="search" class="a11y-hidden">검색</label>
          <input id="search" type="search" placeholder="검색어를 입력해주세요">
          <button type="submit">
            <img src="./img/icon-search.png" alt="검색">
          </button>
        </form>

        <label for="sort" class="a11y-hidden">정렬</label>
        <select id="sort">
          <option>조회순</option>
          <option>최신순</option>
        </select>
      </div>
    </div>


    <!-- 게시판 리스트 -->
    <table class="table list">
      <colgroup>
        <col style="width: 40px">
        <col style="width: 60px">
        <col>
        <col style="width: 100px">
        <col style="width: 120px">
        <col style="width: 100px">
      </colgroup>
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="all-article">
            <!-- <label for="all-article">페이지 전체 게시글 선택</label> -->
          </th>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <!-- 게시글이 없을때 / 검색한 게시글이 없을때 -->
        <!-- <tr>
            <td class="nodata" colspan="5">등록된 게시물이 없습니다.</td>
          </tr> -->
        <!-- 게시글이 있을때 -->
        <tr>
          <td>
            <input type="checkbox" id="check2">
            <!-- <label for="check1">2번 게시글</label> -->
          </td>
          <td>2</td>
          <td>
            <a href="#">모든 국민은 법 앞에 평등하다. 누구든지 성별·종교 또는 사회적 신분에 의하여 정치적·경제적·사회적·문화적 생활의 모든 영역에 있어서 차별을 받지 아니한다.

              국회는 상호원조 또는 안전보장에 관한 조약, 중요한 국제조직에 관한 조약, 우호통상항해조약, 주권의 제약에 관한 조약, 강화조약, 국가나 국민에게 중대한 재정적 부담을 지우는 조약 또는 입법사항에 관한 조약의 체결·비준에 대한 동의권을 가진다.
            </a>
          </td>
          <td>홍길동</td>
          <td>2023.04.25</td>
          <td>999</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="check1">
            <!-- <label for="check1">2번 게시글</label> -->
          </td>
          <td>1</td>
          <td>
            <a href="view.html">테니스를 취미로 하는 모임</a>
          </td>
          <td>홍길동</td>
          <td>2023.04.24</td>
          <td>999</td>
        </tr>
      </tbody>
    </table>
    <!-- //게시판 리스트 -->


    <div class="board-bottom">
      <!-- 페이지 -->
      <div class="pagination">
        <a href="#"><img src="./img/first.png" alt="첫번째 페이지"></a>
        <a href="#"><img src="./img/prev.png" alt="이전 페이지"></a>
        <a href="#" class="num active">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="num">5</a>
        <a href="#"><img src="./img/next.png" alt="첫번째 페이지"></a>
        <a href="#"><img src="./img/last.png" alt="이전 페이지"></a>
      </div>
      <!-- //페이지 -->
      <div class="btn-group">
        <button class="btn">선택삭제</button>
        <a href="./write.html" class="btn">글쓰기</a>
      </div>
    </div>
  </div>

  <!-- footer -->
  <p class="footer">Copyright @ 2024. helloghostt. All rights reserved.</p>
  <!-- //footer -->
</body>

</html>